[Desktop Entry]
Name=RapidChecksum
GenericName=File Checksum Utility
Comment=Hash files with CRC32, MD5, SHA1, SHA256, SHA512
Exec=rapidchecksum
Icon=io.github.l_raider.rapidchecksum
Terminal=false
Type=Application
Categories=Utility;FileTools;
StartupNotify=true
